# Security / Secrets
.env
.streamlit/secrets.toml

# Databases
dashboard_enterprise.db
*.db
users.json

# Spreadsheets (Ignore all, BUT allow the data folder)
*.csv
*.xlsx
*.xls
!data/*.csv
!data/*.xlsx

# Python Cache & OS Files
__pycache__/
*.pyc
.DS_Store